<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath=""%SYSTEMDRIVE%\home\Python39\python.exe"" arguments="Astar.py" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" startupTimeLimit="20">
            <environmentVariables>
                <environmentVariable name="PYTHONUNBUFFERED" value="1"/>
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
